<div class="panel">
	<div class="panel-heading main-page-buttons"
			 ng-hide="main.menuOpen"
			 ng-click="main.openMenu()">Create Room</div>

	<div class="panel-heading room-options" 
			 ng-show="main.menuOpen">Room Options</div>


	<div ng-show="main.menuOpen">

	  <div class="panel-body create-room">

			<form name="roomOptions">
			        
			  <div class="checkbox">
			    <label ng-show="main.isLoggedIn">
			      <input ng-model="main.fbook" type="checkbox">Facebook users only 
			    </label>
<!-- 			    <p ng-hide='main.isLoggedIn'>Log in to Facebook to create private rooms.</p> -->
			  </div>
                
                <div id="nameInput">
	              Name Room (optional):<br/>
			      <input class="form-control" 
			      			 ng-model="main.nameInput" 
			      			 type="text"
			      			 maxlength="34"/> <br/>
                </div>
                 
                <div id="lifetimeInput">
				  Room Lifetime: <br/>
				  <select
				    ng-model="main.timerLength"
				    ng-options="time for time in main.timerOptions">
				  </select>
				</div>

				<br>

			  <div class="room-types">
			    <p>Type of room:</p>
			    <button class="btn btn-default"
			            ng-click="main.createRoom(main.roomToCreateColor, 'lunch')">Lunch</button>
			    <button class="btn btn-default"
			            ng-click="main.createRoom(main.roomToCreateColor, 'chat')">Chat</button>
			    <button class="btn btn-default"
			            ng-click="main.createRoom(main.roomToCreateColor, 'splitcheck')">Split a Check</button>
	    	    <button class="btn btn-default"
	                    ng-click="main.createRoom(main.roomToCreateColor, 'backgammon')">Backgammon</button>
			  </div>

			</form>
	  </div>
  </div>
</div>