 <div room-accent 
    		 id="lunchroom-body"
    		 ng-hide="lunch.timeUp">

	 <div id="lunch-list" class="input-list col-sm-6 col-md-6 col-lg-6">
			    
			    <div ng-show="lunch.winner" 
			  		class="col-sm-12 col-md-12 col-lg-12">
			      <h2 ng-show="lunch.winner.length > 1">Winners:</h2>
			      <h2 ng-show="lunch.winner.length === 1">Winner:</h2>
			      <ul class="list-group">
			  			<li ng-repeat="winner in lunch.winner"
			  					class="list-group-item">

			  				<span room-trim-font>{{winner}}</span>
			  				<span class="badge">{{lunch.maxVotes}}</span>

			  			</li>
			  	   </ul>
			  	</div>

				<restaurant-list room-trim-font ng-hide="lunch.winner">
				</restaurant-list>


				<four-square>
				</four-square>
			
			  <h1 room-trim-font>Or</h1>

				<form id="inputForm" 
							name="lunchForm"
							ng-submit="lunch.submitInput()" 
							novalidate>
		      <label for="textInput"
		      			 room-trim-font
		      			 room-trip>Enter the name of a restaurant:</label>
		        <br/>
		        	    <h3 ng-show="lunch.inputField.length > 49">Restaurant name is too long</h3>
						<input id="textInput" 
								 name="textInput" 
								 type="text" 
								 class="form-control"
								 ng-model="lunch.inputField"><br/>
						<input ng-show="lunch.inputField" 
						   class="btn" 
						   type="submit"
						   room-trim room-accent>
				</form>

     </div>

				<div class="col-sm-6 col-md-6 col-lg-6" ui-view='nested-view-chat'></div>

  </div> 

