@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }


  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#voted-list {
  /*margin-top: -20px;*/
  min-height: 200px;
  text-align: left;

  > div:last-child {
    @extend .fadeInUp;
    @extend .animated;
  
  }

}

#foursquareButton {
  margin-bottom: 10px;
}

.foursquareRests {
   max-height: 300px;
   overflow-y: scroll;
}

#restForm {
  margin-bottom: 20px;
}

#restInput {
  margin-bottom: 10px;
}

#backButton {
  float:left;
  color: black;
}
