@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }


  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#voted-list {

  min-height: 200px;
  text-align: left;

  > div:last-child {
    @extend .fadeInUp;
    @extend .animated;
  
  }

}

#foursquareButton {
  margin-bottom: 10px;
}

.foursquareRests {
   max-height: 300px;
   overflow-y: scroll;
}

#restForm {
  margin-bottom: 20px;
}











/*.restaurant {
	position: relative;
}

-webkit-keyframes move {
	from { top: 0; left: 0; }
}


.restaurant.ng-enter {
	-webkit-animation: move 2s forwards;
}
*/

/*
.restaurant-animate
{ 
    -webkit-transition: 4000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.restaurant-animate.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.restaurant-animate.ng-enter-active {
    opacity: 1;
    top: 0px;
    height: 48px;
}*/
