<div class="myContainer">

<!-- 	<button class="btn btn-primary" ng-show="main.geoLocated" ng-click="main.createRoom()">Create Room</button><br/>

	<div class="container jumbotron" ng-repeat="room in main.availableRooms">
		<button ng-click="main.getRoom(room.roomNumber)">Room#{{room.roomNumber}}</button>
	</div> -->

    <div class="col-sm-12 col-md-12 col-lg-12" 
         style="background-color: {{roomColor}};
                height: 50px">
    </div>

	<div id="voted-list" class="col-sm-12 col-md-12 col-lg-12">
          <ul ng-if="roomData.length === 0" class="list-group">
			<li ng-repeat="choice in initialRoomData.choices"
					class="list-group-item">
				<button
									class="btn-default btn"
									ng-click="room.vote(choice.choice)">{{choice.choice}}</button>
				 <span class="badge">{{choice.votes}}</span>
			</li>
		</ul>

		<ul class="list-group">
			<li ng-repeat="choice in roomData[0].choices"
					class="list-group-item">
				<button
									class="btn-default btn"
									ng-click="room.vote(choice.choice)">{{choice.choice}}</button>
				 <span class="badge">{{choice.votes}}</span>
			</li>
		</ul>
	</div>


	<button id="foursquareButton" class="btn btn-primary" ng-click="room.getFourSquare()">Find Local Restaurants From Foursquare</button>
    <div class="foursquareRests"> 
		<div class="animated fadeInDownBig" ng-repeat="restaurant in room.restaurants">
			<p><button class="btn btn-default" ng-click="room.vote(restaurant.venue.name, $index, $event)">{{restaurant.venue.name}}</button>, {{restaurant.venue.location.address}}</p>
		</div>	
    </div>
    <h1>Or</h1>

	<form id="restForm" name="chatForm" ng-submit="room.submitInput()" novalidate>
        <label for="restInput">Enter the name of a restaurant:</label> <br/>
		<input id="restInput" name="textInput" type="text" ng-model="room.restName"><br/>
		<input ng-show="room.restName" class="btn btn-primary" type="submit">
	</form>

</div>





</div>

