
h1 {
  margin-top: 0px;
}

.glyphicon-arrow-left {
  font-size: 2em;
}

.redWall {
  background-color: #D46A6A;
  border: 1px solid #801515;
}

.redTrim {
  background-color: #801515;
  color: #FFAAAA;
}

.redTrimFont {
  color: #801515;
}

.redAccent {
  color: #000;
}

.blueWall {
  background-color: #8DADF9;
  border: 1px solid #2E4272;
}

.blueTrim {
  background-color: #2E4272;
}

.blueTrimFont {
  color: #2E4272;
}

.blueAccent {
  color: #fff;
}
/*
.whiteAccent {
  color: white;
}*/

.greenWall {
  background-color: #87FC81;
  border: 1px solid #328A2E;
}

.greenTrim {
  background-color: #328A2E;
}

.greenTrimFont {
  color: #328A2E;
}

.greenAccent {
  color: #144711;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }


  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


#voted-list {
  /*margin-top: -20px;*/
  min-height: 200px;
  text-align: left;

  > div:last-child {
    @extend .fadeInUp;
    @extend .animated;
  
  }

}

#foursquareButton {
  -webkit-appearance: none;
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.foursquareRests {
   max-height: 300px;
   overflow-y: scroll;
}

#restForm {
  margin-bottom: 20px;
}

#restInput {
  margin-bottom: 10px;
}

#back-button {
  float:left;
  color: black;
}

#back-button span:hover {
  cursor: pointer;
}

input {
  color: black;
  &.btn:hover {
    color: white;
  }
}

.list-group.messages {
  margin-top: 10px;
}

