

h1 {
  margin-top: 0px;
}

.redWall {
  background-color: #D46A6A;
}

button.redWall{
   border: 1px solid #801515;
}

.redTrim {
  background-color: #801515;
  color: #FFAAAA;
}

.redTrimFont {
  color: #801515;
}

.redAccent {
  color: #000;
}

.blueWall {
  background-color: #8DADF9;
}

button.blueWall{
  border: 1px solid #2E4272;
}

.blueTrim {
  background-color: #2E4272;
}

.blueAccent {
  color: #fff;
}

.blueTrimFont {
  color: #2E4272;
}

.greenWall {
  background-color: #87FC81;
}

button.greenWall{
  border: 1px solid #328A2E;
}

.greenTrim {
  background-color: #328A2E;
}

.greenTrimFont {
  color: #328A2E;
}

.greenAccent {
  color: #144711;
}

/**************** NG-ANIMATE ****************/
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
/*********************************/

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.restList > li {
  @extend .fadeInUp;
  @extend .animated;
}

.overflow-box {
  text-align:left;
  margin: 10px auto;
  margin-bottom:25px;
  padding:10px;
  background:#fff;
  height:300px;
  width:80%;
  border:1px solid #ACD8F0;
  overflow-y: scroll;
  border-radius: 5px;
}

#lunch-list {
  text-align: center;
  min-height: 500px;
}

#textInput {
  margin-bottom: 10px;
}

input {
  color: black;
  &.btn:hover {
    color: white;
  }
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#overlay {
  position: absolute;
  text-decoration: none;
  width: 20%;
  background-color: white; 
  left: 80%;
  z-index: 1000;
  border: solid 1px;
  border-bottom-left-radius: 10px;
  text-align: left;
  li {
    list-style-type: none;
  }
}

@media screen and (max-width: 960px) {

  #overlay { 
    left: 70%;
    width: 30%;
    ul {
      padding-left: 10px;    
    }
  }
}

@media screen and (max-width: 550px) {

  #overlay { 
    left: 50%;
    width: 50%;
  }
}