

<div id="buttonDiv" ng-repeat="availRoom in main.availableRooms">
    
  <button class="btn" 
          ng-click="main.enterRoom(availRoom.roomNumber, availRoom.color)" ng-class="{redWall: availRoom.color==='red', blueWall: availRoom.color==='blue', greenWall: availRoom.color==='green'}">

    <span>{{availRoom.roomName}}</span>

    <span ng-show="!availRoom.roomName">{{availRoom.colorAndNum}} room</span>

    <!-- show if locked & not logged in -->
    <span ng-show="availRoom.lock && !main.isLoggedIn"
          class="glyphicon glyphicon-lock"></span>

    <!-- show if locked & logged in -->
    <span ng-show="availRoom.lock && main.isLoggedIn"
          class="glyphicon glyphicon-thumbs-up"></span>

  </button> 

</div>