<ul class="list-group messages">
	<div ng-repeat="choice in lunch.roomData.choices">
		<li class="list-group-item">

			<div class="restaurants">
				<span>
					<button class="btn btn-default" 
									ng-click="lunch.vote(choice.choice, 'up', $event)">+</button>
				</span>
				<span>
					<button class="btn btn-default" 
									ng-click="lunch.vote(choice.choice, 'down', $event)">-</button>
				</span>
				<span>{{choice.choice}}</span>
			</div>

			<button class="btn btn-default votes">
				<span>{{choice.votes}}</span>
				<span class="glyphicon glyphicon-user"
							ng-click="lunch.seeVotes($event)"></span>
			</button>
			<div class="clearfix"></div>

		</li>
		<li class="list-group-item voters" ng-show="lunch.showVoters">
			<span ng-repeat="voter in choice.voters track by $index">{{voter + " "}}  </span>
		</li>
	</div>
</ul>