<div class=" overflow-box">
	<ul class="list-group messages">
		<div class="restList" ng-repeat="choice in lunch.roomData.choices">
			<li class="list-group-item restaurants animated fadeInUp">

				<div class="">
					<span>
						<vote-button class="btn btn-default" 
                        vote="lunch.vote(choice.choice,'up')";>
                        +
						</vote-button>
					</span>
					<span>
						<vote-button class="btn btn-default" 
	                     vote="lunch.vote(choice.choice,'down')";>
	                     -
						</vote-button>
					</span>
				</div>

				<div class="restChoice">{{choice.choice}}</div>

				<seevotes-button class="btn btn-default votes">
					<span>{{choice.votes}}</span>
					<span class="glyphicon glyphicon-user"></span>
				</seevotes-button>
			</li>
			<li class="list-group-item voters" ng-show="lunch.showVoters">
				<span ng-repeat="voter in choice.voters track by $index">{{voter + " "}}  </span>
			</li>
		</div>
	</ul>
</div>