.list-group-item.restaurants {
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;

  div {
    float: left;
    width: 32%;
  }

  .restChoice {
    padding-left: 2%;
  }

  .votes {
    float: right;
  }

}

