$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input:focus, button:focus, select:focus {
	outline: none;
}



// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/createRoomPanel/createRoomPanel.scss';
@import 'main/main.scss';
@import 'main/roomList/roomList.scss';
@import 'room/backgammon/backgammon.scss';
@import 'room/chat/chatList/chatList.scss';
@import 'room/lunch/fourSquare/fourSquare.scss';
@import 'room/lunch/restaurantList/restaurantList.scss';
@import 'room/room.scss';
@import 'room/roomBanner/roomBanner.scss';
@import 'room/splitcheck/splitcheck.scss';
@import 'modal/modal.scss';
// endinjector