<foursquare-button class="foursquareButton"
                buttontype="load" 
				room-trim 
				ng-show="lunch.restaurants.length===0"
				when-clicked="lunch.getFourSquare()">
				Find Local Restaurants From Foursquare
</foursquare-button>

<foursquare-button ng-show="lunch.restaurants.length!==0"
				class="foursquareButton"
				room-trim buttontype="hide">
				Hide Foursquare Restaurants
</foursquare-button>

<foursquare-button buttontype="show"
				class="foursquareButton ng-hide"
				room-trim>
				Show Foursquare Restaurants
</foursquare-button>

<div class="foursquareRests" ng-class="{'addMargin30' : lunch.restaurants.length>0}"
	 room-accent> 
	<div class="animated fadeInDownBig" ng-repeat="restaurant in lunch.restaurants">
		<p>
			<button class="btn btn-default" ng-click="lunch.vote(restaurant.venue.name, null, $event, $index)">{{restaurant.venue.name}}
			</button>
      		<span ng-repeat="element in lunch.returnArray(restaurant.venue.price.tier)">$</span> 
			<span>{{restaurant.venue.location.address}}</span> 
			<a target="_blank" href="{{restaurant.tips[0].canonicalUrl}}">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</p>
	</div>	
</div>