.glyphicon-info-sign {
	color: white;
}

.foursquareButton {
  -webkit-appearance: none;
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.foursquareRests {
   max-height: 300px;
   overflow-y: scroll;
   max-width: 440px;
   margin-left: auto;
   margin-right: auto;
}