

.foursquareButton {
  -webkit-appearance: none;
  padding: 10px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
}



.foursquareRests {
  max-height: 300px;
  overflow-y: scroll;
  max-width: 440px;
  margin: auto 20px;

  .glyphicon-info-sign {
      color: white;
      &:hover {
        color: white;
      }
    }
}

.addMargin30 {
  margin-top: 30px;
}