<button class="foursquareButton" 
				room-trim 
				ng-show="lunch.restaurants.length===0"
				ng-click="lunch.getFourSquare()">Find Local Restaurants From Foursquare</button>

<button ng-show="lunch.restaurants.length!==0"
				class="foursquareButton"
				room-trim 
				ng-click="lunch.hideFoursquare($event)">Hide Foursquare Restaurants
</button>

<button ng-click="lunch.showFoursquare($event)"
				class="foursquareButton ng-hide"
				room-trim 
				>Show Foursquare Restaurants</button>

<div class="foursquareRests"
	 room-accent> 
	<div class="animated fadeInDownBig" ng-repeat="restaurant in lunch.restaurants">
		<p>
			<button class="btn btn-default" ng-click="lunch.vote(restaurant.venue.name, null, $event, $index)">{{restaurant.venue.name}}
			</button>
      		<span ng-repeat="element in lunch.returnArray(restaurant.venue.price.tier)">$</span> 
			<span>{{restaurant.venue.location.address}}</span> 
			<a target="_blank" href="{{restaurant.tips[0].canonicalUrl}}">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</p>
	</div>	
</div>