


  <div class="myContainer container">
    
    <header class="page-header">
       <h1 class="animated zoomIn">Snaproom</h1>
       <p class="subheading">
         <em>Your temporary, location-specific collaboration space</em>
       </p>
    </header>
    
    <div id="finding-location">
       <p ng-hide="main.geoData.geoLocated || main.geolocationCallFailed">Finding your location...</p>
       <h3 class="text-warning" ng-show="main.geolocationCallFailed">Error finding your location</h3>
    </div>

    <div ng-show="main.geoData.geoLocated">
       <create-room-options-panel></create-room-options-panel>
      <h3 class="text-warning" ng-show="main.getRoomsCallFailed">Error finding available rooms</h3>
    </div>

    <room-list> </room-list>

    <p class="subheading" ng-hide="main.isLoggedIn">Log in with facebook to create or enter private rooms</p>
    <p class="subheading" ng-show="main.isLoggedIn">Currently logged in as {{main.user.facebook.first_name}}</p>

    <a ng-hide="main.isLoggedIn"
       class="btn btn-facebook" 
       ng-click="main.loginOauth('facebook')">
      <i class="fa fa-facebook"></i> Login with Facebook
    </a> <br>
    
    <a ng-show="main.isLoggedIn"
       class="btn btn-default" 
       ng-click="main.logout()">Log out</a>

  </div>
