.thing-form {
    margin: 20px 0;
}

/*#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}*/

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
/*    border-top: 1px solid #E5E5E5;*/
}

.myContainer {
  width: 100%;
  text-align: center;
}

/*header{
  color: #23A8A2;
  border-bottom: 1px solid;
}*/

.page-header {
  color: #23A8A2;
}

p.subheading {
  color: #666666;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
}

.animate{
  position: absolute;
  top: 500px;
  left: 500px;
}

@-webkit-keyframes move {
  from { top: 500px; left: 500px; }
  to  { top: 0; left: 0; }
}

.animate{
  -webkit-animation: move 2s forwards;
}

#buttonDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

#finding-location {
  height: 30px;
}

.panel-heading {
/*  background-color: #2E4F95; */
    background-color: #23A8A2;
    color: white;
    border-radius: 5px;
}

#create-room-button:hover {
  cursor: pointer;
}

#nameInput {
  margin-bottom: 10px;  
}

#lifetimeInput {
  margin-bottom: 8px;  
}

.panel-body {
  color: #23A8A2;
}

.panel-body button {
  background-color: #23A8A2;
  color: white;
}

.narrowColumn {
  width: 20%;
  float: left;
  padding: 1%;

  &.leftColumn{
    text-align: left;
  }

  &.rightColumn{
    text-align: right;
    font-size: 2em;
  }
}

.centerColumn {
  width: 60%;
  float: left;
}









