

<div ng-controller="MainCtrl as main">
  <div class="myContainer container">
    <h1 class="page-header animated zoomIn">Snaproom</h1>

    <p ng-hide="main.geoData.geoLocated">Finding your location...</p>

    <button class="btn btn-primary" 
            ng-show="main.geoData.geoLocated && !main.menuOpen" 
            ng-click="main.openMenu()">Create Room</button><br/>

    <create-room-options-panel ng-show="main.menuOpen"></create-room-options-panel>

    <div id="buttonDiv" 
         ng-repeat="availRoom in main.availableRooms">
      <button class="btn" 
              ng-click="main.enterRoom(availRoom.roomNumber, availRoom.color)" style="background-color: {{availRoom.color}}">
        
        <span>{{availRoom.roomName}}</span>

        <span ng-show="!availRoom.roomName">{{availRoom.colorAndNum}} room</span>

        <!-- show if locked & not logged in -->
        <span ng-show="availRoom.lock && !main.isLoggedIn"
              class="glyphicon glyphicon-lock"></span>

        <!-- show if locked & logged in -->
        <span ng-show="availRoom.lock && main.isLoggedIn"
              class="glyphicon glyphicon-thumbs-up"></span>

      </button> 

   </div>

    <p ng-hide="main.isLoggedIn">Log in with facebook to create or enter private rooms</p>
    <p ng-show="main.isLoggedIn">Currently logged in as {{main.user.facebook.first_name}}</p>
    <a ng-hide="main.isLoggedIn"
       class="btn btn-facebook" 
       ng-click="loginOauth('facebook')">
      <i class="fa fa-facebook"></i> Login with Facebook
    </a>
    <br>
    <a ng-show="main.isLoggedIn"
       class="btn btn-default" 
       ng-click="logout()">Log out</a>


  </div>
</div>
