
  <h1 id="landscapeMessage">Please turn your device to horizontal orientation</h1>
  
  <div id="gameBoard">
  
    <div id="topRow" ng-hide="table.gameState.pieces.piecesArray.length===0">

      <space  ng-init ="row='topRow' ; i = $index" ng-repeat="piece in table.returnArray(12)" 
      ng-class="{leftOfDivider : i===5}" class="space">
      </space>

      <div id="offBoardGreen" ng-show="table.showOffBoardGreen">
          <div ng-click="table.moveOffBoard('green')" class="greenSquare"></div> 
      </div>

    </div>

    <div id="buttonsAndInfo">
      <div id="buttonCol1">
        <button ng-hide="table.gameState.pieces.piecesArray.length===0 || !table.gameState.showRollButton" ng-click="table.rollFunction()">Roll</button>
        <div ng-hide="table.gameState.pieces.piecesArray.length===0" >Roll: {{table.gameState.roll[0]}},{{table.gameState.roll[1]}}</div>
        <div ng-hide="table.gameState.pieces.piecesArray.length===0" >Turn: {{table.gameState.turn}}</div>
      </div>
      <div id="buttonCol2">
        <div id="noMoveButton" ng-hide="table.gameState.pieces.piecesArray.length===0" ng-click="table.manualChangeTurn()">No Move</div>
        <button id="newGameButton" ng-show="table.gameState.pieces.piecesArray.length===0" ng-click="table.newGame()">New game</button>
      </div>
      <div class="clearfix"></div>
  </div>
    
  <div id="bottomRow" ng-hide="table.gameState.pieces.piecesArray.length===0">

    <space ng-init ="row='bottomRow' ; i = $index" ng-repeat="piece in table.returnArray(12)" 
    ng-class="{rightOfDivider : i===5}" class="bottomRowSpace space">
    </space>

    <div id="offBoardBlue" ng-show="table.showOffBoardBlue">
      <div ng-click="table.moveOffBoard('blue')" class="greenSquare">
      </div> 
    </div>

  </div>

  <div id="jails">

    <div id="blueJail" class="jail">

      <div ng-repeat="piece in table.returnArray(table.gameState.bluePiecesInJail)"
      class="piece bluePiece" ng-click="table.checkSpacesFromJail('blue')">
      </div>

    </div>

    <div id="greenJail" class="jail">

      <div ng-repeat="piece in table.returnArray(table.gameState.greenPiecesInJail)"
      class="piece greenPiece" ng-click="table.checkSpacesFromJail('green')">
      </div>

    </div>

  </div>

</div>