#landscapeMessage {
  display: none;
}

#gameBoard {
  min-width: 740px;
}

#topRow {
  margin-top: 10px;
  margin-left: 10px;
 }

#bottomRow {
  clear: both;
  margin-left: 10px;
}

.bottomRowSpace { 
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);    
}

.space {
  float: left;
  width: 90px;
  height: 300px;
  border: 1px solid black;
}

.leftOfDivider {
  border-right: 4px solid black;
}

.rightOfDivider {
  border-left: 4px solid black;
}

.piece {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  border-radius: 25px; 
}

.bluePiece {
  background-color: blue;
}

.greenPiece {
  background-color: green;
}

.greenSquare {
  position: relative;
  z-index: 500;
  background-color: green;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
}

#buttonsAndInfo {
  font-size: 120%;
  text-align: left;
  float: left;
}

#gameBoard button {
   width: 100px;
   height: 50px;
   border-radius: 5px;
   background-color: #FFF;
}

#buttonCol1 {
  float: left;
  margin-left: 10px;
}

#buttonCol2 {
  clear: both;
  float: left;
  margin-left: 10px;
}


#noMoveButton {
 -webkit-appearance: none;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  padding-top: 9px;
  border-radius: 5px;
}

#noMoveButton:hover {
  cursor: pointer;
}

#newGameButton {
  margin-top: 10px;
}

.jail {
  float: left;
  height: 60px;
  width: 60px;
}

#jails {
  float: left;
  min-height: 120px;
}

#greenJail {
  clear: both;
}

#offBoardGreen, #offBoardBlue {
  float: left;
  height: 60px;
  width: 60px;
}


@media (max-width: 1279px) {

  .space {
    width: 67.5px;
    height: 225px;
  }

  .piece {
    height: 42px;
    width: 42px;
    border-radius: 22.5px; 
  }

  .jail {
    height: 45px;
    width: 45px;
  }

  #offBoardBlue, #offBoardGreen {
    height: 45px;
    width: 45px;
  }


} /* end 1279 max-width */

@media (max-width: 975px) {
    
  .space {
    width: 48.6px;
    height: 162px;
  }

  .piece {
    height: 32px;
    width: 32px;
    border-radius: 16px; 
  }

  .jail {
    height: 32.4px;
    width: 32.4px;
  }

  #offBoardBlue, #offBoardGreen {
    height: 32.4px;
    width: 32.4px;
  }


} /* end 975 max-width */


@media (max-width: 399px) {
  #gameBoard button {
   -webkit-appearance: none;
  }
}

@media (max-width: 399px) and (orientation: portrait) {

  #landscapeMessage {
    display: block;
  }
  #newGameButton {
    display: none;
  }
}


















