
#bottomRow {
  clear: both;
}



.bluePiece {
  background-color: blue;
}

.greenPiece {
  background-color: green;
}

@media (min-width: 1200px) {

    .space {
        float: left;
        width: 90px;
        height: 300px;
        border: 1px solid black;
    }

    .piece {
      height: 50px;
      width: 50px;
      border-radius: 25px; 
    }

    .greenSquare {
        width: 20px;
        height: 20px;
        background-color: green;
    }

    .jail {
      float: left;
      height: 60px;
      width: 60px;
    }

    #offBoardBlue {
      float: left;
      height: 60px;
      width: 60px;
    }

    #offBoardGreen {
      float: left;
      height: 60px;
      width: 60px;
    }

}


@media (max-width: 1199px) {

    .space {
        float: left;
        width: 45px;
        height: 150px;
        border: 1px solid black;
    }

    .piece {
      height: 25px;
      width: 25px;
      border-radius: 12.5px; 
    }

    .greenSquare {
        width: 10px;
        height: 10px;
        background-color: green;
    }

    .jail {
      float: left;
      height: 30px;
      width: 30px;
    }

    #offBoardBlue {
      float: left;
      height: 30px;
      width: 30px;
    }

    #offBoardGreen {
      float: left;
      height: 30px;
      width: 30px;
    }

}

#jails {
  float: left;
}
 #greenJail {
   clear: both;
 }

 #buttonsAndInfo {
   clear:both;
   text-align: left;
   padding-top: 10px;
 }

 #buttonCol1 {
   float: left;
   margin-left: 10px;
 }
  #buttonCol2 {
   float: left;
   margin-left: 10px;
 }

 #topRow, #bottomRow {
   margin-left: 10px;
 }

 #topRow {
   margin-top: 10px;
 }

 .leftOfDivider {
   border-right: 4px solid black;
}

















