
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">The Bill</div>
	  <!-- Table -->
	  <table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Item</th>
					<th>Price</th>
					<th>Tax</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in split.billItems track by $index">
					<td>
						<button class="btn btn-danger btn-xs"
										ng-click="split.deleteItem($index)">X</button></td>
					<td>{{item.user}}</td>
					<td>{{item.item}}</td>
					<td>${{item.price}}</td>
					<td>${{item.itemTax | number:2}}</td>
				</tr>
			</tbody>
		</table>

		<div class="panel-footer">
			<p>Running total: {{split.runningTotal | number:2}}</p>
			<p>Short: {{split.remainder | number:2}}</p>
			<p>Tip from each: {{split.tipFromEach | number:2}}</p>


		</div>

		<div class="panel-body bill-totals">	
			<p>Subtotal from bill:
				<input class="sub-total" 
							 type="text" 
							 ng-model="split.subtotal" 
							 ng-change="split.updateTotals()"/></p>
			<p>Tip ({{split.tipPercent}}%): {{split.totalTip | number:2}}</p>
			<p>Tax: ({{split.taxPercent}}%): {{split.totalTax | number:2}}</p>
			<p>Total: {{split.grandTotal | number:2}}</p>
		</div>

	</div>




<div class="panel panel-default">
	<div class="panel-heading">Input your bill items below</div>
  <div class="panel-body">

  	<div class="row">
      <div class="col-md-6 item-input">
         <form novalidate class="simple-form">
			    <p>Name: <input type="text" ng-model="split.user" /><br /></p>
			    <p>Item: <input type="item" ng-model="split.item" /><br /></p>
			    <p>Price: $<input type="item" ng-model="split.price" /><br /></p>
			    <p>Tax: <input type="item" ng-model="split.taxPercent" / ng-change="split.updateTax()"><br /></p>
			    <div class="clearfix"></div>
			    <p><input type="submit" ng-click="split.submit()" value="Add to bill" /></p>
			  </form>
      </div>
      <div class="col-md-6">
         <h4>Your Totals</h4>
         <p>Food total:</p>
         <p>Tax:</p>
         <p>Tip:</p>
         <p>You owe:</p>

     	</div>
   	</div>



    
  </div>
</div>
