<!-- RoomCtrl as room -->

<div room-wall room-trim>

  <div id="back-button"
       class="narrowColumn leftColumn">
    <span class="glyphicon glyphicon-arrow-left" ng-click="room.backToMain" ui-sref="main"></span>
  </div>

  <div class="centerColumn">
    
    <h1 ng-show="room.roomName">{{room.roomName}}</h1>
    <h1 ng-hide="room.roomName"> </h1>

  	<div ng-show="room.secondsLeft && !room.timeUp">
  		<p >Room Closes in: {{room.minutesLeft}}:{{room.secondsLeft}}</p>
    </div>

    <p ng-show="room.isLoggedIn">Logged in as {{room.user.facebook.first_name}}</p>

    <h2 ng-show="room.timeUp">
        Time expired
    </h2>

    <h2 ng-show="room.showTimerError">
        Error setting timer
    </h2>
            
  </div>

  <div class="narrowColumn rightColumn">
    <span>{{room.numberOfPeople}}</span>
    <span class="glyphicon glyphicon-user"
          ng-click="room.toggleUsers()"></span>
  </div>

  <div class="clearfix"></div>
</div>

